@keyframes shift {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-4px);
  }
}

.card__icon-button:hover .core {
  fill: var(--Themes-mainColor);
  transition: fill 0.3s;
  cursor: pointer;
}

.card__icon-button:hover .main-body {
  fill: var(--Themes-mainColor);
  transition: fill 0.3s 0.05s;
  cursor: pointer;
}

.card__icon-button:active .core {
  fill: var(--filled-heart, red);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--filled-heart, red);
  transition: fill 0.3s 0.05s;
}

.is-liked .core,
.is-liked .main-body,
.is-liked .contour {
  fill: var(--filled-heart, red);
  transition: fill 0.3s;
}

.is-liked:hover .core,
.is-liked:hover .main-body,
.is-liked:hover .contour {
  fill: var(--filled-heart, red);
  transition: fill 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--filled-heart, red);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--filled-heart, red);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--filled-heart, red);
  transition: fill 0.3s 0.06s;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.like-icon.is-liked .heart {
  animation: scaleUp 0.3s 0.1s ease-in alternate;
}

@keyframes sparksFill {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparksFill 0.3s 0.3s ease-in alternate;
}
